In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
# Import data.

In [3]:
train=pd.read_csv("train.csv")

In [4]:
train.shape

(27321, 80)

In [5]:
test=pd.read_csv("test.csv")

In [6]:
test.shape

(11709, 80)

In [7]:
df= pd.concat([train, test], axis=0)

In [8]:
df.shape

(39030, 80)

In [9]:
df.isnull().sum().sort_values(ascending=False)

BLOCKID             39030
hc_stdev              890
hc_sample_weight      890
hc_samples            890
hc_mean               890
                    ...
AWater                  0
pop                     0
male_pop                0
female_pop              0
UID                     0
Length: 80, dtype: int64

In [10]:
df.describe()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,zip_code,area_code,lat,lng,ALand,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
count,39030.000000,0.0,39030.0,39030.000000,39030.000000,39030.000000,39030.000000,39030.000000,39030.000000,3.903000e+04,...,38728.000000,38728.000000,38728.000000,38728.000000,38728.000000,38640.000000,38755.000000,38755.000000,38755.000000,38755.000000
mean,257389.898847,NaN,140.0,85.665693,28.337023,50094.425186,595.634922,37.477816,-91.303944,1.235224e+08,...,40.257491,40.288159,22.169569,546.089414,2216.030908,0.638563,0.507500,0.047664,0.019166,0.099931
std,21380.595101,NaN,0.0,98.624203,16.457552,29623.012455,232.371449,5.599713,16.362850,1.146022e+09,...,5.876502,8.019936,2.544665,282.793882,1084.201488,0.228346,0.137744,0.037959,0.020988,0.048898
min,220336.000000,NaN,140.0,1.000000,1.000000,601.000000,201.000000,17.929085,-166.770979,8.299000e+03,...,15.360240,12.833330,0.556780,0.251910,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,238817.250000,NaN,140.0,29.000000,13.000000,26261.000000,405.000000,33.905477,-97.816437,1.777882e+06,...,36.832685,34.833330,21.300528,357.978453,1480.000000,0.500337,0.424295,0.020840,0.004530,0.065420
50%,257380.500000,NaN,140.0,63.000000,28.000000,47637.500000,614.000000,38.712215,-86.587080,4.854619e+06,...,40.320550,40.500000,22.502205,504.982075,2078.000000,0.689670,0.526210,0.038790,0.013580,0.094910
75%,275970.750000,NaN,140.0,109.000000,42.000000,77320.000000,801.000000,41.327773,-79.764987,3.320334e+07,...,43.548502,45.333330,23.566253,682.309657,2781.000000,0.816782,0.605715,0.065180,0.027650,0.128790
max,294334.000000,NaN,140.0,840.000000,72.000000,99929.000000,989.000000,67.074017,-65.379332,1.039510e+11,...,90.107940,90.166670,30.241270,6197.995200,27250.000000,1.000000,1.000000,0.714290,0.714290,1.000000

In [11]:
train.head()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,NaN,140,53,36,New York,NY,Hamilton,Hamilton,City,...,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,NaN,140,141,18,Indiana,IN,South Bend,Roseland,City,...,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,NaN,140,63,18,Indiana,IN,Danville,Danville,City,...,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,NaN,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,...,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,NaN,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,...,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109

In [12]:
df.isnull().sum().sort_values(ascending=False)

BLOCKID             39030
hc_stdev              890
hc_sample_weight      890
hc_samples            890
hc_mean               890
                    ...
AWater                  0
pop                     0
male_pop                0
female_pop              0
UID                     0
Length: 80, dtype: int64

In [13]:
df["pct_own"].isnull().sum()

390

In [14]:
df["pct_own"].value_counts()

0.00000    287
1.00000     51
0.50000      9
0.75000      7
0.84229      6
          ...
0.95184      1
0.83880      1
0.43916      1
0.72066      1
0.52587      1
Name: pct_own, Length: 29602, dtype: int64

In [15]:
df.columns

Index(['UID', 'BLOCKID', 'SUMLEVEL', 'COUNTYID', 'STATEID', 'state',
       'state_ab', 'city', 'place', 'type', 'primary', 'zip_code', 'area_code',
       'lat', 'lng', 'ALand', 'AWater', 'pop', 'male_pop', 'female_pop',
       'rent_mean', 'rent_median', 'rent_stdev', 'rent_sample_weight',
       'rent_samples', 'rent_gt_10', 'rent_gt_15', 'rent_gt_20', 'rent_gt_25',
       'rent_gt_30', 'rent_gt_35', 'rent_gt_40', 'rent_gt_50',
       'universe_samples', 'used_samples', 'hi_mean', 'hi_median', 'hi_stdev',
       'hi_sample_weight', 'hi_samples', 'family_mean', 'family_median',
       'family_stdev', 'family_sample_weight', 'family_samples',
       'hc_mortgage_mean', 'hc_mortgage_median', 'hc_mortgage_stdev',
       'hc_mortgage_sample_weight', 'hc_mortgage_samples', 'hc_mean',
       'hc_median', 'hc_stdev', 'hc_samples', 'hc_sample_weight',
       'home_equity_second_mortgage', 'second_mortgage', 'home_equity', 'debt',
       'second_mortgage_cdf', 'home_equity_cdf', 'debt_cdf', 'hs_degree',
       'hs_degree_male', 'hs_degree_female', 'male_age_mean',
       'male_age_median', 'male_age_stdev', 'male_age_sample_weight',
       'male_age_samples', 'female_age_mean', 'female_age_median',
       'female_age_stdev', 'female_age_sample_weight', 'female_age_samples',
       'pct_own', 'married', 'married_snp', 'separated', 'divorced'],
      dtype='object')

In [16]:
# Figure out the primary key and look for the requirement of indexing.

In [17]:
df["UID"].value_counts()

230058    5
238294    4
282028    4
238947    4
279063    4
         ..
267246    1
222936    1
291770    1
258716    1
287763    1
Name: UID, Length: 38715, dtype: int64

In [18]:
# There are some duplicate ecords in UID column.
# To make UID as Primary key we have to drop duplicate records from UID column

In [19]:
df=df.drop_duplicates(subset=["UID"])

In [20]:
df["UID"].value_counts()

267822    1
228857    1
252287    1
266700    1
265626    1
         ..
284938    1
244230    1
244672    1
230066    1
287763    1
Name: UID, Length: 38715, dtype: int64

## Primary key is UID

In [21]:
df.set_index(keys=['UID'],inplace=True)

In [22]:
df.head()

,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
UID,,,,,,,,,,,,,,,,,,,,,
267822,NaN,140,53,36,New York,NY,Hamilton,Hamilton,City,tract,...,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
246444,NaN,140,141,18,Indiana,IN,South Bend,Roseland,City,tract,...,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
245683,NaN,140,63,18,Indiana,IN,Danville,Danville,City,tract,...,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
279653,NaN,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,...,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
247218,NaN,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,...,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109

In [23]:
# Q3) Gauge the fill rate of the variables and devise plans for missing value treatment. Please explain explicitly the reason for the treatment chosen for each variable.

In [24]:
df.isnull().sum()

BLOCKID        38715
SUMLEVEL           0
COUNTYID           0
STATEID            0
state              0
               ...
pct_own          271
married          196
married_snp      196
separated        196
divorced         196
Length: 79, dtype: int64

In [25]:
df["BLOCKID"].unique().sum()

nan

In [26]:
# As BLOCKID contains only null values we will delete the BLOCKID

In [27]:
df.drop("BLOCKID",axis=1,inplace=True)

In [28]:
df["SUMLEVEL"].unique()

array([140], dtype=int64)

In [29]:
# Drop SUMLEVEL as there are no unique values

In [30]:
df.drop("SUMLEVEL",axis=1,inplace=True)

In [31]:
df.head()

,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
UID,,,,,,,,,,,,,,,,,,,,,
267822,53,36,New York,NY,Hamilton,Hamilton,City,tract,13346,315,...,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
246444,141,18,Indiana,IN,South Bend,Roseland,City,tract,46616,574,...,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
245683,63,18,Indiana,IN,Danville,Danville,City,tract,46122,317,...,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
279653,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,927,787,...,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
247218,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,66502,785,...,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109

In [32]:
df["COUNTYID"].isnull().sum()

0

In [33]:
df["COUNTYID"].unique()

array([ 53, 141,  63, 127, 161,  79, 337,  45,  81,  37,  73,  51,  25,
       121,  99, 153,  19,  47, 209,   3,  97,  69,   7,  89,   1,   5,
        13,  86,   9, 101, 183,  67,  35, 115,  29,  17,  77,  65,  93,
        41, 109, 155,  59, 439, 133, 117, 215,  33,  71,  15,  11,  21,
       291,  31,  95,  75,  91, 163, 491,  27, 129, 113,  55, 111,  49,
        57, 105, 123, 241, 197, 290,  83, 157, 135,  20,  43,  39, 145,
       245, 329, 201, 191, 143,  61, 361, 103, 171, 227, 137, 119, 449,
       131,  85, 231, 221, 147, 740, 810, 189, 213, 670, 177, 257, 477,
       317, 159, 169, 173, 151,  87, 165, 355, 107, 453, 590, 650, 125,
       193,  23, 510, 267, 217, 710, 187, 175, 251, 167, 139, 347, 233,
       179, 479, 321, 313, 149, 339, 427, 680, 277, 325, 770,  78, 459,
       195, 820, 463, 700, 287, 600, 341, 150, 293, 375, 540, 185, 281,
       199, 181, 170, 423, 255, 219, 373, 481, 305, 261, 405, 122, 265,
        14, 282, 800, 349,  90, 401, 730, 247, 307, 379, 445, 387, 760,
       110, 457,  28, 550, 451, 499, 295, 203, 467, 630, 309, 223, 465,
       303, 381, 363, 235, 301, 207, 473, 485, 333, 455, 237, 367, 253,
       353, 158, 229, 259, 441, 505, 263, 471, 683, 489, 409, 297, 397,
       775, 205, 335, 299, 285, 225, 198, 239,   6, 415, 437, 425, 497,
       507, 580, 130, 520, 220, 357, 475,  50, 391, 365, 311, 275, 417,
       595, 735, 493, 369, 283,  12, 530, 750, 469, 249, 211, 186, 790,
       431, 269, 399, 315, 279, 323, 495, 271, 421, 570, 411, 343, 403,
       389, 371, 395, 610, 503, 461,  68, 620, 230, 351,  54, 840, 720,
       487, 273, 429, 640, 393, 660, 331, 377, 164, 180, 433, 102, 100,
        16, 359, 243, 289,  60, 327,  36, 345, 240, 483,  70], dtype=int64)

In [34]:
df["pct_own"].isnull().sum(axis=0)

271

In [35]:
df["pct_own"].unique()

array([0.79046, 0.52483, 0.85331, ..., 0.33122, 0.8333 , 0.52587])

In [36]:
df["pct_own"].describe()

count    38444.000000
mean         0.641050
std          0.225053
min          0.000000
25%          0.502950
50%          0.690935
75%          0.817142
max          1.000000
Name: pct_own, dtype: float64

In [37]:
df.isnull().mean()*100

COUNTYID       0.000000
STATEID        0.000000
state          0.000000
state_ab       0.000000
city           0.000000
                 ...
pct_own        0.699987
married        0.506264
married_snp    0.506264
separated      0.506264
divorced       0.506264
Length: 77, dtype: float64

In [38]:
df['pct_own'][~(df["pct_own"].isnull())].sample(df["pct_own"].isnull().sum())

UID
268686    0.83627
270983    0.40738
288627    0.60403
284793    0.01521
282081    0.84522
           ...
236300    0.37694
224726    0.70572
292400    0.82732
281746    0.57879
277366    0.71520
Name: pct_own, Length: 271, dtype: float64

In [39]:
df["pct_mean"]=df["pct_own"].fillna(df["pct_own"].mean())

In [40]:
df["pct_median"]=df["pct_own"].fillna(df["pct_own"].median())

In [ ]:
sns.kdeplot(df["pct_own"])
sns.kdeplot(df["pct_mean"])

In [ ]:
sns.kdeplot(df["pct_own"])
sns.kdeplot(df["pct_median"])

In [ ]:
df[['pct_own','pct_mean','pct_median']].boxplot()

In [ ]:
# it is clear that we can replace nan values of pct_own either by  mean or median 
df["pct_own"].fillna(df["pct_own"].mean(),inplace=True)

In [ ]:
df["pct_own"].isnull().sum()

In [ ]:
df["married_mean"]=df["married"].fillna(df["married"].mean())
df["married_median"]=df["married"].fillna(df["married"].median())

In [ ]:
sns.kdeplot(df["married"])
sns.kdeplot(df["married_mean"])

In [ ]:
sns.kdeplot(df["married"])
sns.kdeplot(df["married_median"])

In [ ]:
df[['married','married_mean','married_median']].boxplot()

In [ ]:
# Here we will replace nan values with Mean as its slighlty closer to married column than median

In [ ]:
df["married"].fillna(df["married"].mean(),inplace=True)

In [ ]:
df["married"].isnull().sum()

In [ ]:
df["married_snp_mean"]=df["married_snp"].fillna(df["married_snp"].mean())
df["married_snp_median"]=df["married_snp"].fillna(df["married_snp"].median())

In [ ]:
sns.kdeplot(df["married_snp"])
sns.kdeplot(df["married_snp_mean"])

In [ ]:
sns.kdeplot(df["married_snp"])
sns.kdeplot(df["married_snp_mean"])

In [ ]:
df[['married_snp','married_snp_mean','married_snp_median']].boxplot()

In [ ]:
# In "married_snp" we can replace NAN values with either mean or median values

In [ ]:
df["married_snp"].fillna(df["married_snp"].median(),inplace=True)

In [ ]:
df["married_snp"].isnull().sum()

In [ ]:
df["separated_mean"]=df["separated"].fillna(df["separated"].mean())
df["separated_median"]=df["separated"].fillna(df["separated"].median())

In [ ]:
sns.kdeplot(df["separated"])
sns.kdeplot(df["separated_mean"])

In [ ]:
sns.kdeplot(df["separated"])
sns.kdeplot(df["separated_median"])

In [ ]:
df[['separated','separated_mean','separated_median']].boxplot()

In [ ]:
# we can repalce NAN values of separated column by either mean or median 
df["separated"]=df["separated"].fillna(df["separated"].median())

In [ ]:
df["separated"].isnull().sum()

In [ ]:
df["divorced_mean"]=df["divorced"].fillna(df["divorced"].mean())
df["divorced_median"]=df["divorced"].fillna(df["divorced"].median())

In [ ]:
sns.kdeplot(df["divorced"])
sns.kdeplot(df["divorced_mean"])

In [ ]:
sns.kdeplot(df["divorced"])
sns.kdeplot(df["divorced_median"])

In [ ]:
df[['divorced','divorced_mean','divorced_median']].boxplot()

In [ ]:
# here mean is lsightly close to divorse column so wee will replace the divorse column with mean 
df["divorced"]=df['divorced'].fillna(df["divorced"].mean())

In [ ]:
df["divorced"].isnull().sum()

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
# Imputing  missing values with mean
missing_cols=[]
for col in df.columns:
    if df[col].isna().sum() !=0:
         missing_cols.append(col)
print(missing_cols)

In [ ]:
df.isnull().sum()

In [ ]:
for col in df.columns:
    if col in (missing_cols):
        df[col].replace(np.nan, df[col].mean(),inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
# we have delt with all NAN values

# OUTLIERS

In [ ]:
df[['married','divorced','separated']].boxplot()

In [ ]:
IQR = df['married'].quantile(0.75) - df['married'].quantile(0.25)

lower = df['married'].quantile(0.25) - 1.5* IQR
upper = df['married'].quantile(0.75) + 1.5* IQR

In [ ]:
outliers = np.where(df["married"]>=upper,True, np.where(df["married"]<=lower,True,False))

df = df.loc[~(outliers)]

In [ ]:
df[['married']].boxplot()

In [ ]:
# Remove outliers from  Divorsed column

In [ ]:
IQR = df['divorced'].quantile(0.75) - df['divorced'].quantile(0.25)

lower = df['divorced'].quantile(0.25) - 1.5* IQR
upper = df['divorced'].quantile(0.75) + 1.5* IQR

In [ ]:
outliers = np.where(df["divorced"]>=upper,True, np.where(df["divorced"]<=lower,True,False))

df = df.loc[~(outliers)]

In [ ]:
df[['divorced']].boxplot()

In [ ]:
 # Remove outliers from

In [ ]:
IQR = df['separated'].quantile(0.73) - df['separated'].quantile(0.25)

lower = df['separated'].quantile(0.25) - 1.5* IQR
upper = df['separated'].quantile(0.73) + 1.5* IQR

In [ ]:
outliers = np.where(df["separated"]>=upper,True, np.where(df["separated"]<=lower,True,False))

df = df.loc[~(outliers)]

In [ ]:
df[['separated']].boxplot()

# Exploratory Data Analysis (EDA):

   ### 4.Perform debt analysis. You may take the following steps:

##  a) Explore the top 2,500 locations where the percentage of households with a second mortgage is the highest and percent ownership is above 10 percent. Visualize using geo-map. You may keep the upper limit for the percent of households with a second mortgage to 50 percent

from pandasql import sqldf
q1 = "select place,pct_own,second_mortgage,lat,lng from df_train where pct_own >0.10 and second_mortgage <0.5 order by second_mortgage DESC LIMIT 2500;"
pysqldf = lambda q: sqldf(q, globals())
df_train_location_mort_pct=pysqldf(q1)


#### This query is performed in sql

## b) Use the following bad debt equation: Bad Debt = P (Second Mortgage ∩ Home Equity Loan) Bad Debt = second_mortgage + home_equity - home_equity_second_mortgage c) Create pie charts to show overall debt and bad debt

In [ ]:
df['bad_debt']=df['second_mortgage']+df['home_equity']-df['home_equity_second_mortgage']

In [ ]:
df['bins'] = pd.cut(df['bad_debt'],bins=[0,0.1,1],labels=["less than 50%","50-100%"])
df.groupby(['bins']).size().plot(kind='pie',subplots=True,startangle=90, shadow=True,autopct='%1.1f%%')
plt.axis('equal')
plt.show()


## d) Create Box and whisker plot and analyze the distribution for 2nd mortgage, home equity, good debt, and bad debt for different cities

In [ ]:
cols=[]
df.columns

In [ ]:
df.city.head(20)

In [ ]:
#Taking Hamilton and Manhattan cities data
cols=['second_mortgage','home_equity','debt','bad_debt']
df_box_hamilton=df.loc[df['city'] == 'Hamilton']
df_box_manhattan=df.loc[df['city'] == 'Manhattan']
df_box_San_Morcos=df.loc[df['city']=="San Marcos"]
df_box_Danville=df.loc[df['city'] == 'Danville']
df_box_Las_Vegas=df.loc[df['city'] == 'Las Vegas']
df_box_city=pd.concat([df_box_hamilton,df_box_manhattan,df_box_San_Morcos,df_box_Danville,df_box_Las_Vegas])
df_box_city.head(4)

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(data=df_box_city,x='second_mortgage', y='city',width=0.5,palette="Set3")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(data=df_box_city,x='home_equity', y='city',width=0.5,palette="Set3")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(data=df_box_city,x='debt', y='city',width=0.5,palette="Set3")
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(data=df_box_city,x='bad_debt', y='city',width=0.5,palette="Set3")
plt.show()

## e)Create a collated income distribution chart for family income, house hold income, and remaining income

In [ ]:
sns.distplot(df['family_mean'])
plt.title('Family income distribution chart')
plt.show()

In [ ]:
sns.distplot(df['hi_mean'])
plt.title('Household income distribution chart')
plt.show()

In [ ]:
df["R_income"]=df["family_mean"]-df["hi_mean"]

In [ ]:
sns.distplot(df["R_income"])
plt.title('Remaining income distribution chart')
plt.show()

# Project Task: Week 2

## Exploratory Data Analysis (EDA):

### 1) Perform EDA and come out with insights into population density and age. You may have to derive new fields (make sure to weight averages for accurate measurements):

In [ ]:
df["Pop_mean"]=(df['male_pop']+df['female_pop'])/df['pop']

In [ ]:
#plt.figure(figsize=(25,10))
fig,(ax1,ax2,ax3,ax4)=plt.subplots(4,1)
sns.distplot(df['pop'],ax=ax1)
sns.distplot(df['male_pop'],ax=ax2)
sns.distplot(df['female_pop'],ax=ax3)
sns.distplot(df["Pop_mean"],ax=ax4)
plt.subplots_adjust(wspace=0.8,hspace=0.8)
plt.tight_layout()
plt.show()

In [ ]:
#plt.figure(figsize=(25,10))
fig,(ax1,ax2)=plt.subplots(2,1)
sns.distplot(df['male_age_mean'],ax=ax1)
sns.distplot(df['female_age_mean'],ax=ax2)
plt.subplots_adjust(wspace=0.8,hspace=0.8)
plt.tight_layout()
plt.show()


## a) Use pop and ALand variables to create a new field called population density

In [ ]:

df['pop_density']=df['pop']/df['ALand']

In [ ]:
sns.distplot(df['pop_density'])
plt.title('Population Density')
plt.show()

## b)Use male_age_median, female_age_median, male_pop, and female_pop to create a new field called median age c) Visualize the findings using appropriate chart type

In [ ]:
df['age_median']=(df['male_age_median']+df['female_age_median'])/2

In [ ]:

df[['male_age_median','female_age_median','male_pop','female_pop','age_median']].head()

In [ ]:
sns.distplot(df['age_median'])
plt.title('Median Age')
plt.show()

- Age of population is mostly between 20 and 60
- Majority are of age around 40
- Median age distribution has a gaussian distribution
- Some right skewness is noticed

In [ ]:
sns.boxplot(df['age_median'])
plt.title('Population Density')
plt.show()

### 2) Create bins for population into a new variable by selecting appropriate class interval so that the number of categories don’t exceed 5 for the ease of analysis.

In [ ]:
df['pop'].describe()

In [ ]:
df['pop_bins']=pd.cut(df['pop'],bins=5,labels=['very low','low','medium','high','very high'])

In [ ]:
df[['pop','pop_bins']]

### a) Analyze the married, separated, and divorced population for these population brackets

In [ ]:
df.groupby(df['pop_bins'])[['married','separated','divorced']].count()

In [ ]:
df.groupby(by='pop_bins')[['married','separated','divorced']].agg(["mean", "median"])

### Visualize using appropriate chart type

In [ ]:
plt.figure(figsize=(10,5))
pop_bin_married=df.groupby(by='pop_bins')[['married','separated','divorced']].agg(["mean"])
pop_bin_married.plot(figsize=(20,8))
plt.legend(loc='best')
plt.show()

### Please detail your observations for rent as a percentage of income at an overall level, and for different states.

In [ ]:
rent_state_mean=df.groupby(by='state')['rent_mean'].agg(["mean"])
rent_state_mean.head()

In [ ]:
income_state_mean=df.groupby(by='state')['family_mean'].agg(["mean"])
income_state_mean.head()

In [ ]:
rent_perc_of_income=rent_state_mean['mean']/income_state_mean['mean']
rent_perc_of_income.head(10)

In [ ]:
df1=df.describe(include="int")

In [ ]:
df2=df.describe(include="float64")

In [ ]:
df2.head()

In [ ]:
df1

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df1)
  
X = imputer.transform(df1)
print(df1)

In [ ]:
df1.isnull().sum()

In [ ]:
df2.isnull().sum()

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df2)
  
X = imputer.transform(df2)
print(df2)

In [ ]:
df2['rent_mean'].isnull().sum(axis=0)

In [ ]:
df2['family_mean'].isnull().sum()

In [ ]:
#overall level rent as a percentage of income
sum(df2['rent_mean'])/sum(df2['family_mean'])

### 4 )Perform correlation analysis for all the relevant variables by creating a heatmap. Describe your findings.

In [ ]:
df.columns

In [ ]:
cor=df[['COUNTYID','STATEID','zip_code','type','pop', 'family_mean',
         'second_mortgage', 'home_equity', 'debt','hs_degree',
           'age_median','pct_own', 'married','separated', 'divorced']].corr()

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(cor,annot=True,cmap='coolwarm')
plt.show()

# Project Task: Week 3
## Data Pre-processing:

#### 1. The economic multivariate data has a significant number of measured variables. The goal is to find where the measured variables depend on a number of smaller unobserved common factors or latent variables. 2. Each variable is assumed to be dependent upon a linear combination of the common factors, and the coefficients are known as loadings. Each measured variable also includes a component due to independent      random variability, known as “specific variance” because it is specific to one variable. Obtain the common factors and then plot the loadings. Use factor analysis to find latent variables in our dataset and gain          insight into the linear relationships in the data. Following are the list of latent variables:

• Highschool graduation rates

• Median population age

• Second mortgage statistics

• Percent own

• Bad debt expense

In [ ]:
pip install factor_analyzer

In [ ]:
from sklearn.decomposition import FactorAnalysis
from factor_analyzer import FactorAnalyzer

In [ ]:

fa=FactorAnalyzer(n_factors=5)
fa.fit_transform(df2.select_dtypes(exclude= ('object','category')))
fa.loadings_

In [ ]:
## Data Modeling : Linear Regression

In [ ]:
df.columns

In [ ]:
df['type'].unique()

In [ ]:
type_dict={'type':{'City':1, 
                   'Urban':2, 
                   'Town':3, 
                   'CDP':4, 
                   'Village':5, 
                   'Borough':6}
          }
df.replace(type_dict,inplace=True)

In [ ]:
df['type'].unique()

In [ ]:
feature_cols=['COUNTYID','STATEID','zip_code','type','pop', 'family_mean',
         'second_mortgage', 'home_equity', 'debt','hs_degree',
           'pct_own', 'married','separated', 'divorced']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df[feature_cols]
y = df['hc_mortgage_mean']

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=100,train_size=0.8)

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error,accuracy_score

In [ ]:
X.head()

In [ ]:
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.fit_transform(X_test)

In [ ]:
sc.mean_

In [ ]:
X_train_scaled

In [ ]:
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

#### Run a model at a Nation level. If the accuracy levels and R square are not satisfactory proceed to below step.

In [ ]:
linereg=LinearRegression()
linereg.fit(X_train_scaled,y_train)

In [ ]:
y_pred=linereg.predict(X_test_scaled)

In [ ]:
print("Overall R2 score of linear regression model", r2_score(y_test,y_pred))
print("Overall RMSE of linear regression model", np.sqrt(mean_squared_error(y_test,y_pred)))

In [ ]:
### Run another model at State level. There are 52 states in USA

In [ ]:
state=df['STATEID'].unique()

In [ ]:
state[0:5]
#Picking a few iDs 20,1,45,6

In [ ]:
for i in [20,1,45]:
    print("State ID-",i)
    
    X_train_nation=df[df['COUNTYID']==i][feature_cols]
    y_train_nation=df[df['COUNTYID']==i]['hc_mortgage_mean']
    
    X_test_nation=df[df['COUNTYID']==i][feature_cols]
    y_test_nation=df[df['COUNTYID']==i]['hc_mortgage_mean']
    
    X_train_scaled_nation=sc.fit_transform(X_train_nation)
    X_test_scaled_nation=sc.fit_transform(X_test_nation)
    
    linereg.fit(X_train_scaled_nation,y_train_nation)
    y_pred_nation=linereg.predict(X_test_scaled_nation)
    
    print("Overall R2 score of linear regression model for state,",i,":-" ,r2_score(y_test_nation,y_pred_nation))
    print("Overall RMSE of linear regression model for state,",i,":-" ,np.sqrt(mean_squared_error(y_test_nation,y_pred_nation)))
    print("\n")

In [ ]:
residuals=y_test-y_pred
residuals

In [ ]:
plt.hist(residuals) # Normal distribution of residuals

In [ ]:
sns.distplot(residuals)

In [ ]:
plt.scatter(residuals,y_pred) # Same variance and residuals does not have correlation with predictor
# Independance of residuals

# Tableau Link :-

In [ ]:
https://public.tableau.com/app/profile/shubham8589/viz/CapstoneProj-01/Dashboard1?publish=yes